h1 {
    width: 70%;
    max-width: 500px;
    text-align: center;
    color: darkblue;
}
main{
    min-height: 100%;
    padding-top: 150px;
}
#url_form {
    width: calc(70% + 15px);
    max-width: 515px;
}
input, button {
    margin: 5px;
    padding: 10px;
    outline: none;
    border: 2px solid darkblue;
    color: darkblue;
    transition: 0.3s;
}
input {
    width: calc(100% - 150px);
}
button {
    background-color: darkblue;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: rgb(255, 255, 255);
    color: darkblue;
}
::placeholder{
    color: rgb(74, 74, 156);
}
input, button, ::placeholder {
    font-family: Alexandria;
    font-size: 13px;
}
#response, #errors {
    width: 70%;
    max-width: 500px;
    font-size: 13px;
    text-align: center;
    border: 2px solid darkgreen;
    border-radius: 5px;
    background: #dafff3;
    margin: 20px;
    display: none;
    position: relative;
}
#response {
    padding-bottom: 22px;
}
#errors {
    width: calc(70% - 40px);
    max-width: 460px;
    text-align: left;
    border-color: maroon;
    background-color: rgb(255, 220, 220);
    padding: 10px 20px;
}
#errors p {
    margin: 3px;
}
#copybtn {
    padding: 3px;
    border: 1px solid black;
    background: white;
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.data_ctnr {
    width: 80%;
    max-width: 660px;
    border: 2px solid gainsboro;
    margin: 30px auto;
    margin-top: 10px;
    background: white;
    padding: 15px 0;
    border-radius: 9px;
}
.data {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
}
.data_index {
    width: 55px;
}
.data_urlCtnr {
    width: calc(100% - 55px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.data_urlCtnr div {
    width: 47%;
}

header, nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}
header {
    background: aliceblue;
    padding: 0;
}
.nav_btn {
    border-radius: 3px;
    padding: 5px 10px;
}
nav img{
    height: 45px;
    transition: 0.3s;
}

.main-header {
    transition: 0.3s;
    border-bottom: 2px solid aliceblue;
}

.menu-nav-ico {
    display: none;
    height: 20px;
    border-radius: 3px;
    justify-content: space-evenly;
    width: 30px;
    transition: 0.3s;
}

.menu-line {
    width: 60%;
    height: 2px;
    background-color: darkblue;
    transition: 0.3s;
}

#username {
    margin: 5px;
    padding: 6.5px 12px;
    font-size: 13px;
    border: 1px solid darkblue;
    border-radius: 3px;
    color: darkblue;
}

@media only screen and (max-width: 600px) {
    .data_urlCtnr {
        flex-direction: column;
    }

    .data_urlCtnr div {
        width: 100%;
    }

    .data_urlCtnr div:nth-child(1) {
        margin-bottom: 5px;
    }

    hr {
        margin: 0.3em 0;
    }

    .ctnr {
        flex-direction: column-reverse !important;
    }

    .ctnr div {
        width: 100% !important;
    }
}

@media only screen and (max-width: 515px) {
    #url_form {
        flex-direction: column;
    }

    #url_form {
        input, button {
            width: 100%;
        }
    }

    .menu-nav-ico {
        display: flex;
    }

    .main-nav {
        position: fixed;
        height: 0;
        background: aliceblue;
        overflow: hidden;
        padding: 0;
        top: 57px;
        left: 0;
        width: 100%;
        transition: 0.5s;
        flex-direction: column !important;
        a {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        div, button {
            width: 73%;
        }
    }

    .mhbg {
        border-bottom: 2px solid yellow;
    }
    
    .mnheight {
        height: 150px;
    }

    .animate-logo-img {
        transform: scale(0.92);
    }

    .animateMenu:nth-child(1) {
        transform: rotate(45deg) translate(6px, 10px);
        transform-origin: right;
    }

    .animateMenu:nth-child(2) {
        width: 0;
    }

    .animateMenu:nth-child(3) {
        transform: rotate(-45deg) translate(1px, 2px);
        transform-origin: left;
    }
}